<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>168455003896-3tm8hj4gsi90et4s7riutsjvehj85o0d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.168455003896-3tm8hj4gsi90et4s7riutsjvehj85o0d</string>
	<key>API_KEY</key>
	<string>AIzaSyCznbBsAo0ELmoDauW5DOWI3jpe9BPg0cA</string>
	<key>GCM_SENDER_ID</key>
	<string>168455003896</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.geonotes</string>
	<key>PROJECT_ID</key>
	<string>erudite-acre-257914</string>
	<key>STORAGE_BUCKET</key>
	<string>erudite-acre-257914.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:168455003896:ios:c56f09efdfb8c94122250d</string>
</dict>
</plist>